aside {
background-color: brown;

}

main {

    background-color: aqua;
}

section {

    background-color: blueviolet;
}

.container {
display: flex;
flex-direction: column;
justify-content: space-between;

}

@media screen and (min-width: 500px) {
}